body {
	background-color: #0024ff;
	color: white;
}

.head {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	letter-spacing: 6px;
}

a:link {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 6px;
}

/* visited link */
a:visited {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 6px;
}

/* mouse over link */
a:hover {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 6px;
}

/* selected link */
a:active {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 6px;
}