body {
    background-color: White;
    font-size: 12px;
    font-family: 'Andale Mono', AndaleMono, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.headerone {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 15px;
}

.wrapper{
    position:absolute;
    top: 50%;
    left: 50%;
}

.content {
     padding-top: 30px; 
     font-family: 'Andale Mono', AndaleMono, monospace, black;
}

.one:hover {
    background-color: black;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #d3d3d3;
}